@{
    ViewData["title"] = "Contattaci";
    
}
<div class="container mt-2">
    <div class="d-flex justify-content-start">
        <form>
            <h1>Contattaci!</h1>
            <div class="my-2">
                <label class="d-block form-label" for="email">Inserisci la tua mail:</label>
                <input class="form-control" name="email" type="email" value="" />
            </div>
            <div class="my-2">
                <label class="d-block form-label" for="message">Inserisci il tuo messaggio:</label>
                <textarea class="form-control" name="message"></textarea>
            </div>
            <button class="btn btn-success" type="submit">Invia</button>
        </form>

    </div>
</div>