@model CategoryFormModel
@{
    ViewData["title"] = "Modifica La Categoria";
    var categoryForm = Model;
}

<div class="container text-center">

    <h1>Aggiungi una nuova categoria!</h1>

    <form method="post" asp-controller="Category" asp-action="Create">

        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label asp-for="category.Name" class="form-label">Inserisci il nome della categoria:</label>
            <input asp-for="category.Name" type="text" class="form-control" id="Name" aria-describedby="Name">
            <span asp-validation-for="category.Name" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Conferma</button>

    </form>
</div>